/* 1439px - 769px  */
@media (max-width: 1025px) {}

@media (max-width: 835px) {
    .section1 {
        height: 438px;
    }
}


@media (max-width: 800px) {

 nav {
    display: none;
 }

 .fa-bars {
    display: inline;
 }
}
